@import "reset.css";
#header{
    width: 100%;
    height: 7vh;
    background-color: #222222;
    display: flex;
    z-index: 1;
    position: absolute;


    justify-content: space-between;
    align-items: center;
}
#uu{
    display: flex;
}

#header input{
    margin-right: 2em;
    color: white;
    border: none;
    background-color: #222222;
    font-weight: bold;
    cursor: pointer;
}

#welcome{
    color: white;
    margin-right: 2em;
    font-size: 0.9em;
}

#menu{
   height: 3vh;
   margin-left: 2em;
   cursor: pointer;
}
#menu img{
    height: 3vh;
}


/*content*/
#navi{
    width: 20vw;
    height: 100vh;
    z-index: 5;
    position: absolute;
    background-color: #686868;
    display: none;
}
#navi div{
    width: 20vw;
    display: flex;
    justify-content: flex-end;
}

#navi div img{
    width: 2em;
    margin: 2em;
    cursor: pointer;
}

#navigation li{
    padding: 2em;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

#navigation li:hover{
    background-color: #333333;
    transition: 0.7;
}

#navigation li a{
    color: white;
    text-decoration: none;
}

#writeBtn{
    position: fixed;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #222222;
    color: #ffffff;
    margin-left: 1.3vw;
    margin-top: 1vw;
}

/*diary*/

#main{
    padding-top: 7vh;
    display: flex;
}

#listForm{
    width: 40vw;
    height: 93vh;
    background-color: #585353;
    overflow-y: scroll;
}

#listForm::-webkit-scrollbar{
    width: 0.5em;
}
#listForm::-webkit-scrollbar-thumb{
    background-color: #999999;
}

#listForm::-webkit-scrollbar-track{
    background-color: #222222;
}
#diaryList{
    text-align: center;
    padding: 3em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#diaryList li{
    width: 25vw;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border: solid 1px #838383;
    border-radius: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #838383;
    cursor: pointer;
}

#diaryList li span:first-child{
    font-size: 1.4em;
    margin-left: 1.5em;
}
#diaryList li span:last-child{
    font-size: 0.7em;
    margin-right: 1.5em;
}

/*showDiary*/
#showDiary{
    width: 60vw;
    height: 93vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/back.jpg);
    background-color: rgba(0,0,0,0);
}

#dDiary{
    width: 48vw;
    height: 74vh;
    color: #ffffff;
    z-index: 1;
    opacity: 0.9;
    display: flex;
    background-color: #222222;
    flex-direction: column;
    align-items: center;
}
#dDiary div:nth-child(1){
    margin-top: 5vh;
    font-size: 2em;
    font-weight: bold;
}
#dDiary div:nth-child(2){
    margin-top: 2vh;
    font-size: 1.3em;
}


#writeDiary{
    width: 60vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/back.jpg);
    background-color: rgba(0,0,0,0);
}

.back{
    width: 60vw;
    height: 93vh;
    position: absolute;
    background-color: black;
    opacity: 0.5;
}

#diaryForm{
    text-align: center;
    width: 50vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    opacity: 0.9;
}
#diaryForm input,#diaryForm textarea{
    border: none;
}
#diaryForm input:focus,#diaryForm textarea:focus{
    outline: none;
}

#title{
    width: 45vw;
    font-size: 1.5em;
    height: 10vh;
    background-color: #222222;
    padding-left: 3vw;
    color: #ffffff;
}
#todayDiray{
    width: 45vw;
    background-color: #222222;
    color: #ffffff;
    font-size: 1.3em;
    padding-left: 3vw;
    height: 80vh;
}

#save{
    background-color: #222222;
    color: #ffffff;
    font-size: 1em;
    border-radius: 3em;
    width: 20vw;
    height: 10vh;
    margin-top: 3vh;
}

#delBtn{
    z-index: 1;
    background-color: #222222;
    color: #ffffff;
    font-size: 1em;
    border-radius: 3em;
    width: 20vw;
    height: 8vh;
    margin-top: 3vh;
    border: none;
    opacity: 0.9;
}


@media (max-width: 790px){
   
    
    
}

@media (max-width: 650px){
    #main{
        display: flex;
        flex-direction: column-reverse;
    }
    #listForm{
        display: inline-block;
        width: 100vw;
        height: 23vh;
    }

    #listForm ul{
        display: inline-block;
        width: 90vw;
        padding: 5vh 0 0 0;
        
    }
    #listForm ul li{
        width: 35vw;
        display: inline-block;
        text-align: center;
        margin-left: 9vw;
    }
    #listForm ul li span{
        display: block;
        text-align: center;
        width: 100%;
        left: 0;
    }
    #listForm ul li span:nth-child(1){
        margin-left: 0;
    }

    #listForm::-webkit-scrollbar{
        width: 0.3em;
    }

    #writeDiary,#showDiary{
        width: 100vw;
        height: 70vh;
    }
   .back{
       width: 100vw;
       height: 70vh;
   }
   #diaryForm{
       width: 80vw;
       height: 70vh;
       margin-top: 8vh;
   }
   #dDiary{
       width: 80vw;
       height: 60vh;
   }
   #title{
        height: 5vh;
   }
   #todayDiray{
        height: 50vh;
   }
   #save{
        height: 5vh;
   }
   #navi{
       width: 45vw;
   }
   #navi div{
       margin-left: 50%;
       
   }
   
}