@import url(reset.css);

#main{
    display: grid;
    height: 100vh;
    

    grid-template-columns: 30vw 70vw;
    grid-template-rows: 100% 100%;
    overflow: hidden;
}

#login{
    display: flex;
    background-color: #e3e3e3;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

#backrgound div{
    position: fixed;
    width: 70vw;
    height: 100vh;
}

#imgBack img {
    height: 100vh;
}

#moveBack{
    z-index: 1;
    background-color: black;
    opacity: 0.7;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#moveBack span{
    margin-bottom: 1em;
}

.input{
    width: 20vw;
    height: 5vh;
    margin-bottom: 5%;
    border: solid 1px #e3e3e3;
    border-radius: 20px;
    padding-left: 10px;
}

.btn{
    width: 20vw;
    height: 5vh;
    border: solid 1px #333333;
    background-color: #333333;
    border-radius: 20px;
    color: white;
    margin-bottom: 5%;
    font-size: 1em;
}

.btn:disabled{
    border: solid 1px #a0a0a0;
    background-color: #a0a0a0;
    transition-duration: 5s;
}


a{
    color: #a0a0a0;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: #333333;
    transition-duration: .3s;
}

#error{
    padding: 1vw 8vh;
    display: none;
    position: fixed;
    background-color: red;
    z-index: 200;
    text-align: center;
    opacity: 0.8;
    color: white;
    border-radius: 20px;
}



@media (max-width: 1200px){

}

@media (max-width: 760px){
    #main{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;

    }
    #backrgound{   
        width: 100%;
        height: 80vh;
    }
    #backrgound div{
        width: 100%;
        height: 80vh;
    }
    #imgBack img{
        height: 80vh;
    }
 
    #login{
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    #login .input{
        width: 20vw;
        margin-right: 5vw;
    }
    #login .btn{
        width: 15vw;
        margin-right: 5vw;
    }
    #login a{
        width: 15vw;
        margin-bottom: 35px;
    }
    
    
}

@media (max-width: 520px){
    #main{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

    }
    #login{
        height: 70vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    #login .input{
        width: 40vw;
    }
    #login .btn{
        width: 40vw; 
    }
    #login a{
        width: 40vw;
        text-align: center;
        margin-right: 25px;
    }
    #backrgound{   
        width: 100%;
        height: 30vh;
    }
    #backrgound div{
        width: 100%;
        height: 30vh;
    }
    #imgBack img{
        width: 100%;
        height: 30vh;
    }
   
}